/* paragraph style */
body{
    font-family: sans-serif;
    width: 500px;
    text-align: center;
    padding-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    color: #8f8c8c

  }

  /* header style */
header{
    font-family: sans-serif;
    text-align: right;
    color:#353434
  }

  /* heading 2 style */
h2{
    font-family: sans-serif;
    text-align: center;
    color: #5f5d5d;
}

/* unordered list style */
ul{ font-family: sans-serif;
text-align: center;
color: #8f8c8c;}

/* image style */
img{ width:500px;
place-items: center;
}

/*navigation style */
nav{font-family: sans-serif;
color: black;}
